/* style.less */
@gameBackgroundColor: teal;
@gameContrastColor: white;
@gameAltBackgroundColor: darkslategray;

body {
	background-color: @gameBackgroundColor;
	color: @gameContrastColor;
}

.game {
	padding: 10%;
	text-align: center;
	
	h1 {
		margin: 0 auto;	
	}
	
	article {
		border: solid 2px @gameContrastColor;
		padding: 20px;
	}

	.display-word {
		display: inline-block;
		background-color: @gameContrastColor;
		color: @gameBackgroundColor;
		text-transform: uppercase;
		text-align: center;
		padding: 5px;
		width: 50%;
	}

	button {
		background-color: @gameAltBackgroundColor;
		color: @gameContrastColor;
	}

	article,
	span,
	button,
	input {
		border-radius: 10px;
	}
}